body {
	background: url("sky.jpg") no-repeat;
	background-size: 100%;
	margin:0;
	z-index: -50;
	overflow-x: hidden;
	}
nav {
	width: 100%;
	height: 50px;
	background-color: black; 

}
.container {
	width: 50%;
	height: 100%;
	float:left;
	position: relative;
	display: inline-block;
	position: relative;


}
#ulist {
	text-decoration: none;
	text-decoration-color: white;
	font-family: "Georgia";
	position: relative;
}
li {
	color: white;
	 float: left;
	  display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    line-height: .5;
    
   	margin-left: 15px;
   	position: relative;
}
.fab.fa-facebook {
	font-size: 30px;
	color: white;
	float: right;
	margin-right: 30px;
	line-height: .5;


}
.fab.fa-instagram {
	font-size: 30px;
	color: white;
	float: right;
	margin-right: 30px;
	line-height: .5;

}
.h {
	font-family: "Georgia";
	font-size: 100px;
	color: white;
	text-align: center;
	margin-bottom: 400px;
}

#feedback {
	width: 100%;
	height: 6.6vw;
	background-color: black; 
	float: right;
	margin-bottom: 
}
#feed {
	color: white;
	font-family: "Georgia";
	text-align: center;
	font-size: 25px;


}
.emailSub {
	display: table;
	margin: 0 auto;
}
.email {
		size: 30px;

}
#about {
	width: 100%;
	height: 20vh;
	position: relative;
}
#portfolio {
	width: 100%;
	height: 65vh;
	overflow: hidden;
	position: relative;
	


}
#sale {
	width: 100vw;
	height: 3vw;
	background-color: black; 
	float: right;
}
.home {
    float: left;
    margin-left: 5.5%;
    position: relative;
    margin-top: 4%;
    text-align: center;
    position: relative;
    border: 1px solid #ccc; 
 

     



}
#saletext {
	color: white;
	font-family: "Georgia";
	text-align: center;
	font-size: 25px;
	margin: 0 auto;

}
.headmessage {
		text-align: center;	
}
.item active {

}

.desc {
	padding: 15px;
    text-align: center;
}
.imga {
	max-width:100%;
	max-height:100%;
	display: inline-block; 


}
#housesale {
	overflow-y: auto;
	height: 100%;
	width: 100%;
	padding-right: 20px;
}